html {
  background-color: #f0b556;
  columm-width: auto;
}
.logo img {
  float: left;
  width: 150px;
  height: 100px;
  border-style: outset;
}
.heroimg img {
  width: 900px;
  height: 371px;
}
nav {
  float:right;
  font: sans-serif;
  padding: 40px;
  background-color: #21bfba;
  border: 1px solid black;
}
h1 {
  font-family: Konnect;
  font-size: 30px;
  line-height: 40px;
  text-decoration: underline;
}
h2 , h3 , h4 {
  font-family: Tahoma;
  font-size: 25px;
  text-decoration: underline;
}
p1, p2 {
  font-size: 25px;
  font: futura;
}
.surfimage img {
  float: left;
  width: 350px;
  height: 250px;
  border-style: outset;
}
ul {
  font-family: Tahoma;
  font-size: 20px;
}
.skateimage img {
  float: left;
  width: 350px;
  height: 250px;
  border-style: outset;
}
.bikeimage img {
  float: left;
  width: 350px;
  height: 250px;
  border-style: outset;
}
.navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}  
.navbar a {
  float: left;
  display: block;
  color: #3285a8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.advertisement p {
  font-size: 23px;
  font-family: "Andale Mono";
}
table {
  width:70%;
}
td, th {
  border: 2px solid black;
  border-collapse: collapse;
}
p3 {
  font-size: 15px;
}
